
  openapi: "3.0.0"
  info: 
    title: DHIS2 API
    version: "2.41"
    license: 
      name: BSD 3-Clause "New" or "Revised" License
      url: https://raw.githubusercontent.com/dhis2/dhis2-core/master/LICENSE
    contact: {}
  tags: 
  - name: management
    description: |-
      Groups endpoints used to manage system objects.
  - name: synthetic
    description: |-
      Marks Endpoints that have been merged from more than one method.  
      This means there is no 1:1 relation between the REST endpoint described by OpenAPI  
      and the Java controller methods that implement them.
  - name: user
    description: |-
      Groups endpoints about users.
  servers: 
  - url: http://play.im.dhis2.org/stable-2-41-0-1/api
  security: 
  - basicAuth: []
  paths: 
    /users/: 
      get: 
        description: |-
          List all Users
        operationId: User.getObjectList
        tags: 
        - management
        - user
        parameters: 
        - name: fields
          in: query
          description: |-
            `<field-name>[,<field-name>...]`
          required: false
          schema: 
            type: array
            items: 
              type: string
        - name: filter
          in: query
          description: |-
            Apply filter operations to the returned list of metadata.   
            See [Metadata-object-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_object_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - $ref: "#/components/parameters/OrderParams.orders"
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        responses: 
          "200": 
            description: |-
              The _list_ of Users
            content: 
              application/json: 
                schema: 
                  type: object
                  properties: 
                    pager: 
                      $ref: "#/components/schemas/Pager"
                    users: 
                      type: array
                      items: 
                        $ref: "#/components/schemas/User"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      post: 
        description: |-
          [no description yet]
        operationId: User.postJsonObject+postXmlObject+postJsonObject+postXmlObject
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - $ref: "#/components/parameters/MetadataImportParams.async"
        - $ref: "#/components/parameters/MetadataImportParams.atomicMode"
        - $ref: "#/components/parameters/MetadataImportParams.flushMode"
        - $ref: "#/components/parameters/MetadataImportParams.identifier"
        - $ref: "#/components/parameters/MetadataImportParams.importMode"
        - $ref: "#/components/parameters/MetadataImportParams.importReportMode"
        - $ref: "#/components/parameters/MetadataImportParams.importStrategy"
        - $ref: "#/components/parameters/MetadataImportParams.metadataSyncImport"
        - $ref: "#/components/parameters/MetadataImportParams.overrideUser"
        - $ref: "#/components/parameters/MetadataImportParams.preheatMode"
        - $ref: "#/components/parameters/MetadataImportParams.skipSharing"
        - $ref: "#/components/parameters/MetadataImportParams.skipTranslation"
        - $ref: "#/components/parameters/MetadataImportParams.skipValidation"
        - $ref: "#/components/parameters/MetadataImportParams.user"
        - $ref: "#/components/parameters/MetadataImportParams.userOverrideMode"
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/User"
            application/xml: 
              schema: 
                $ref: "#/components/schemas/User"
            text/xml: 
              schema: 
                $ref: "#/components/schemas/User"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    "/users/#getObjectListCsv": 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectListCsv
        tags: 
        - management
        - user
        parameters: 
        - name: arraySeparator
          in: query
          description: |-
            [no description yet]
          required: false
          schema: 
            type: string
            default: ;
        - name: fields
          in: query
          description: |-
            Limit the response to specific field(s).   
            See [Metadata-field-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_field_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - name: filter
          in: query
          description: |-
            Apply filter operations to the returned list of metadata.   
            See [Metadata-object-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_object_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - $ref: "#/components/parameters/OrderParams.orders"
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        - name: separator
          in: query
          description: |-
            [no description yet]
          required: false
          schema: 
            type: string
            minLength: 1
            maxLength: 1
        - name: skipHeader
          in: query
          description: |-
            [no description yet]
          required: false
          schema: 
            type: boolean
            default: false
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/text: 
                schema: 
                  type: string
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              application/text: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/text: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/text: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/text: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/gist: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectListGist+getObjectListGistAsCsv
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  oneOf: 
                  - type: object
                    properties: 
                      pager: 
                        $ref: "#/components/schemas/GistPager"
                      users: 
                        type: array
                        items: 
                          type: object
                  - type: array
                    items: 
                      type: object
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/gist.csv: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectListGistAsCsv
        tags: 
        - management
        - user
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/invite: 
      post: 
        description: |-
          [no description yet]
        operationId: User.postJsonInvite+postXmlInvite
        tags: 
        - management
        - user
        - synthetic
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/invites: 
      post: 
        description: |-
          [no description yet]
        operationId: User.postJsonInvites+postXmlInvites
        tags: 
        - management
        - user
        - synthetic
        responses: 
          "204": 
            description: |-
              [no description yet]
    /users/sharing: 
      patch: 
        description: |-
          [no description yet]
        operationId: User.bulkSharing
        tags: 
        - management
        - user
        parameters: 
        - $ref: "#/components/parameters/MetadataImportParams.async"
        - name: atomic
          in: query
          description: |-
            [no description yet]
          required: false
          schema: 
            type: boolean
            default: false
        - $ref: "#/components/parameters/MetadataImportParams.atomicMode"
        - $ref: "#/components/parameters/MetadataImportParams.flushMode"
        - $ref: "#/components/parameters/MetadataImportParams.identifier"
        - $ref: "#/components/parameters/MetadataImportParams.importMode"
        - $ref: "#/components/parameters/MetadataImportParams.importReportMode"
        - $ref: "#/components/parameters/MetadataImportParams.importStrategy"
        - $ref: "#/components/parameters/MetadataImportParams.metadataSyncImport"
        - $ref: "#/components/parameters/MetadataImportParams.overrideUser"
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - $ref: "#/components/parameters/MetadataImportParams.preheatMode"
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        - $ref: "#/components/parameters/MetadataImportParams.skipSharing"
        - $ref: "#/components/parameters/MetadataImportParams.skipTranslation"
        - $ref: "#/components/parameters/MetadataImportParams.skipValidation"
        - $ref: "#/components/parameters/MetadataImportParams.user"
        - $ref: "#/components/parameters/MetadataImportParams.userOverrideMode"
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json-patch+json: 
              schema: 
                $ref: "#/components/schemas/BulkJsonPatch"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{id}/invite: 
      post: 
        description: |-
          [no description yet]
        operationId: User.resendInvite
        tags: 
        - management
        - user
        parameters: 
        - name: id
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{id}/reset: 
      post: 
        description: |-
          [no description yet]
        operationId: User.resetToInvite
        tags: 
        - management
        - user
        parameters: 
        - name: id
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}: 
      get: 
        description: |-
          View a User
        operationId: User.getObject
        tags: 
        - management
        - user
        parameters: 
        - name: fields
          in: query
          description: |-
            Limit the response to specific field(s).   
            See [Metadata-field-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_field_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - name: filter
          in: query
          description: |-
            Apply filter operations to the returned list of metadata.   
            See [Metadata-object-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_object_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/User"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      put: 
        description: |-
          [no description yet]
        operationId: User.putJsonObject+putXmlObject+putJsonObject+putXmlObject
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - $ref: "#/components/parameters/MetadataImportParams.async"
        - $ref: "#/components/parameters/MetadataImportParams.atomicMode"
        - $ref: "#/components/parameters/MetadataImportParams.flushMode"
        - $ref: "#/components/parameters/MetadataImportParams.identifier"
        - $ref: "#/components/parameters/MetadataImportParams.importMode"
        - $ref: "#/components/parameters/MetadataImportParams.importReportMode"
        - $ref: "#/components/parameters/MetadataImportParams.importStrategy"
        - $ref: "#/components/parameters/MetadataImportParams.metadataSyncImport"
        - $ref: "#/components/parameters/MetadataImportParams.overrideUser"
        - $ref: "#/components/parameters/MetadataImportParams.preheatMode"
        - $ref: "#/components/parameters/MetadataImportParams.skipSharing"
        - $ref: "#/components/parameters/MetadataImportParams.skipTranslation"
        - $ref: "#/components/parameters/MetadataImportParams.skipValidation"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        - $ref: "#/components/parameters/MetadataImportParams.user"
        - $ref: "#/components/parameters/MetadataImportParams.userOverrideMode"
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/User"
            application/xml: 
              schema: 
                $ref: "#/components/schemas/User"
            text/xml: 
              schema: 
                $ref: "#/components/schemas/User"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      patch: 
        description: |-
          [no description yet]
        operationId: User.patchObject
        tags: 
        - management
        - user
        parameters: 
        - $ref: "#/components/parameters/MetadataImportParams.async"
        - $ref: "#/components/parameters/MetadataImportParams.atomicMode"
        - $ref: "#/components/parameters/MetadataImportParams.flushMode"
        - $ref: "#/components/parameters/MetadataImportParams.identifier"
        - $ref: "#/components/parameters/MetadataImportParams.importMode"
        - $ref: "#/components/parameters/MetadataImportParams.importReportMode"
        - $ref: "#/components/parameters/MetadataImportParams.importStrategy"
        - $ref: "#/components/parameters/MetadataImportParams.metadataSyncImport"
        - $ref: "#/components/parameters/MetadataImportParams.overrideUser"
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - $ref: "#/components/parameters/MetadataImportParams.preheatMode"
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        - $ref: "#/components/parameters/MetadataImportParams.skipSharing"
        - $ref: "#/components/parameters/MetadataImportParams.skipTranslation"
        - $ref: "#/components/parameters/MetadataImportParams.skipValidation"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        - $ref: "#/components/parameters/MetadataImportParams.user"
        - $ref: "#/components/parameters/MetadataImportParams.userOverrideMode"
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json-patch+json: 
              schema: 
                $ref: "#/components/schemas/JsonPatch"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      delete: 
        description: |-
          Deletes the User provided by ID.
        operationId: User.deleteObject
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              A message envelop containing the report detailing the deletion outcome.
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/disabled: 
      post: 
        description: |-
          [no description yet]
        operationId: User.disableUser
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
    /users/{uid}/enabled: 
      post: 
        description: |-
          [no description yet]
        operationId: User.enableUser
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
    /users/{uid}/expired: 
      post: 
        description: |-
          [no description yet]
        operationId: User.expireUser
        tags: 
        - management
        - user
        parameters: 
        - name: date
          in: query
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: date-time
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
    /users/{uid}/favorite: 
      post: 
        description: |-
          [no description yet]
        operationId: User.setAsFavorite
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      delete: 
        description: |-
          [no description yet]
        operationId: User.removeAsFavorite
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/gist: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectGist+getObjectGistAsCsv
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  type: object
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/gist.csv: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectGistAsCsv
        tags: 
        - management
        - user
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/replica: 
      post: 
        description: |-
          [no description yet]
        operationId: User.replicateUser
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/sharing: 
      put: 
        description: |-
          [no description yet]
        operationId: User.setSharing
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Sharing"
        responses: 
          "204": 
            description: |-
              [no description yet]
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/subscriber: 
      post: 
        description: |-
          [no description yet]
        operationId: User.subscribe
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      delete: 
        description: |-
          [no description yet]
        operationId: User.unsubscribe
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/translations: 
      put: 
        description: |-
          [no description yet]
        operationId: User.replaceTranslations
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                type: object
                required: 
                - translations
                properties: 
                  translations: 
                    type: array
                    items: 
                      $ref: "#/components/schemas/Translation"
        responses: 
          "204": 
            description: |-
              [no description yet]
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/twoFA/disabled: 
      post: 
        description: |-
          [no description yet]
        operationId: User.disableTwoFa
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/unexpired: 
      post: 
        description: |-
          [no description yet]
        operationId: User.unexpireUser
        tags: 
        - management
        - user
        parameters: 
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "204": 
            description: |-
              [no description yet]
    /users/{uid}/{property}: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectProperty
        tags: 
        - management
        - user
        parameters: 
        - name: fields
          in: query
          description: |-
            Limit the response to specific field(s).   
            See [Metadata-field-filter](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-master/metadata.html#webapi_metadata_field_filter).
          required: false
          schema: 
            type: array
            items: 
              type: string
        - $ref: "#/components/parameters/TranslateParams.locale"
        - $ref: "#/components/parameters/WebOptions.page"
        - $ref: "#/components/parameters/WebOptions.pageSize"
        - $ref: "#/components/parameters/WebOptions.paging"
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        - $ref: "#/components/parameters/WebOptions.rootJunction"
        - $ref: "#/components/parameters/TranslateParams.translate"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  type: object
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      post: 
        description: |-
          [no description yet]
        operationId: User.addCollectionItemsJson+addCollectionItemsXml
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
            application/xml: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      put: 
        description: |-
          [no description yet]
        operationId: User.replaceCollectionItemsJson+replaceCollectionItemsXml
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
            application/xml: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      delete: 
        description: |-
          [no description yet]
        operationId: User.deleteCollectionItemsJson+deleteCollectionItemsXml
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        requestBody: 
          description: |-
            [no description yet]
          required: false
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
            application/xml: 
              schema: 
                $ref: "#/components/schemas/IdentifiableObjects"
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              application/xml: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/{property}/gist: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectPropertyGist+getObjectPropertyGistAsCsv
        tags: 
        - management
        - user
        - synthetic
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  oneOf: 
                  - type: object
                  - type: array
                    items: {}
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/{property}/gist.csv: 
      get: 
        description: |-
          [no description yet]
        operationId: User.getObjectPropertyGistAsCsv
        tags: 
        - management
        - user
        parameters: 
        - $ref: "#/components/parameters/GistParams.absoluteUrls"
        - $ref: "#/components/parameters/GistParams.auto"
        - $ref: "#/components/parameters/GistParams.describe"
        - $ref: "#/components/parameters/GistParams.fields"
        - $ref: "#/components/parameters/GistParams.filter"
        - $ref: "#/components/parameters/GistParams.headless"
        - $ref: "#/components/parameters/GistParams.inverse"
        - $ref: "#/components/parameters/GistParams.locale"
        - $ref: "#/components/parameters/GistParams.order"
        - $ref: "#/components/parameters/GistParams.page"
        - $ref: "#/components/parameters/GistParams.pageListName"
        - $ref: "#/components/parameters/GistParams.pageSize"
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - $ref: "#/components/parameters/GistParams.references"
        - $ref: "#/components/parameters/GistParams.rootJunction"
        - $ref: "#/components/parameters/GistParams.total"
        - $ref: "#/components/parameters/GistParams.totalPages"
        - $ref: "#/components/parameters/GistParams.translate"
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  type: string
          "400": 
            description: |-
              [no description yet]
            content: 
              text/csv: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
    /users/{uid}/{property}/{itemId}: 
      post: 
        description: |-
          [no description yet]
        operationId: User.addCollectionItem
        tags: 
        - management
        - user
        parameters: 
        - name: itemId
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
      delete: 
        description: |-
          [no description yet]
        operationId: User.deleteCollectionItem
        tags: 
        - management
        - user
        parameters: 
        - name: itemId
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
        - name: property
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            enum: 
            - access
            - accountExpiry
            - attributeValues
            - avatar
            - birthday
            - catDimensionConstraints
            - code
            - cogsDimensionConstraints
            - created
            - createdBy
            - dataViewMaxOrganisationUnitLevel
            - dataViewOrganisationUnits
            - disabled
            - displayName
            - education
            - email
            - employer
            - externalAuth
            - facebookMessenger
            - favorite
            - favorites
            - firstName
            - gender
            - href
            - id
            - interests
            - introduction
            - invitation
            - jobTitle
            - languages
            - lastCheckedInterpretations
            - lastLogin
            - lastUpdated
            - lastUpdatedBy
            - ldapId
            - nationality
            - openId
            - organisationUnits
            - password
            - passwordLastUpdated
            - phoneNumber
            - selfRegistered
            - settings
            - sharing
            - skype
            - surname
            - teiSearchOrganisationUnits
            - telegram
            - translations
            - twitter
            - twoFactorEnabled
            - user
            - userCredentials
            - userGroups
            - userRoles
            - username
            - welcomeMessage
            - whatsApp
        - name: uid
          in: path
          description: |-
            [no description yet]
          required: true
          schema: 
            type: string
            format: uid
            pattern: ^[0-9a-zA-Z]{11}$
            minLength: 11
            maxLength: 11
            example: |-
              r87xh9Xn8ON
            description: |-
              A UID for an User object  
              (Java name `org.hisp.dhis.user.User`)
        responses: 
          "200": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "400": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "403": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "404": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
          "409": 
            description: |-
              [no description yet]
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/WebMessage"
  components: 
    securitySchemes: 
      basicAuth: 
        type: http
        scheme: basic
    schemas: 
      Access: 
        type: object
        properties: 
          data: 
            $ref: "#/components/schemas/AccessData"
          delete: 
            type: boolean
          externalize: 
            type: boolean
          manage: 
            type: boolean
          read: 
            type: boolean
          update: 
            type: boolean
          write: 
            type: boolean
      AccessData: 
        type: object
        properties: 
          read: 
            type: boolean
          write: 
            type: boolean
      AddOperation: 
        type: object
        properties: 
          op: 
            type: string
          path: 
            type: string
          value: 
            type: object
      AttributeValue: 
        type: object
        properties: 
          attribute: 
            type: object
            required: 
            - id
            properties: 
              id: 
                type: string
                format: uid
                pattern: ^[0-9a-zA-Z]{11}$
                minLength: 11
                maxLength: 11
                example: |-
                  ce5CG4iu357
            description: |-
              A UID reference to a Attribute  
              (Java name `org.hisp.dhis.attribute.Attribute`)
          value: 
            type: string
      BulkJsonPatch: 
        type: object
        properties: 
          patch: 
            $ref: "#/components/schemas/JsonPatch"
          targetIds: 
            type: object
            additionalProperties: 
              type: array
              items: 
                type: string
      GistPager: 
        type: object
        required: 
        - pageSize
        - page
        properties: 
          nextPage: 
            type: string
          page: 
            type: integer
            format: int32
          pageCount: 
            type: integer
            format: int32
          pageSize: 
            type: integer
            format: int32
          prevPage: 
            type: string
          total: 
            type: integer
            format: int32
      IdentifiableObjects: 
        type: object
        properties: 
          additions: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    q8DC41fB6W6
              description: |-
                A UID reference to a any type of object  
                (Java name `org.hisp.dhis.common.BaseIdentifiableObject`)
          deletions: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    q8DC41fB6W6
              description: |-
                A UID reference to a any type of object  
                (Java name `org.hisp.dhis.common.BaseIdentifiableObject`)
          identifiableObjects: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    q8DC41fB6W6
              description: |-
                A UID reference to a any type of object  
                (Java name `org.hisp.dhis.common.BaseIdentifiableObject`)
      JsonPatch: 
        type: object
        properties: 
          operations: 
            type: array
            items: 
              oneOf: 
              - $ref: "#/components/schemas/AddOperation"
              - $ref: "#/components/schemas/RemoveOperation"
              - $ref: "#/components/schemas/RemoveByIdOperation"
              - $ref: "#/components/schemas/ReplaceOperation"
      Pager: 
        type: object
        required: 
        - pageCount
        - total
        - pageSize
        - page
        properties: 
          nextPage: 
            type: string
          page: 
            type: integer
            format: int32
          pageCount: 
            type: integer
            format: int32
          pageSize: 
            type: integer
            format: int32
          prevPage: 
            type: string
          total: 
            type: integer
            format: int64
      RemoveByIdOperation: 
        type: object
        properties: 
          op: 
            type: string
          path: 
            type: string
      RemoveOperation: 
        type: object
        properties: 
          op: 
            type: string
          path: 
            type: string
      ReplaceOperation: 
        type: object
        properties: 
          op: 
            type: string
          path: 
            type: string
          value: 
            type: object
      Sharing: 
        type: object
        properties: 
          external: 
            type: boolean
          owner: 
            type: string
          public: 
            type: string
          userGroups: 
            type: object
            additionalProperties: 
              $ref: "#/components/schemas/UserGroupAccess"
          users: 
            type: object
            additionalProperties: 
              $ref: "#/components/schemas/UserAccess"
      Translation: 
        type: object
        properties: 
          locale: 
            type: string
          property: 
            type: string
          value: 
            type: string
      User: 
        type: object
        properties: 
          access: 
            $ref: "#/components/schemas/Access"
          accountExpiry: 
            type: string
            format: date-time
          attributeValues: 
            type: array
            items: 
              $ref: "#/components/schemas/AttributeValue"
          avatar: 
            type: object
            required: 
            - id
            properties: 
              id: 
                type: string
                format: uid
                pattern: ^[0-9a-zA-Z]{11}$
                minLength: 11
                maxLength: 11
                example: |-
                  k6ms4Sj3LV2
            description: |-
              A UID reference to a FileResource  
              (Java name `org.hisp.dhis.fileresource.FileResource`)
          birthday: 
            type: string
            format: date-time
          catDimensionConstraints: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    dU4oD3ey2A6
              description: |-
                A UID reference to a Category  
                (Java name `org.hisp.dhis.category.Category`)
          code: 
            type: string
          cogsDimensionConstraints: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    r8EC4cs3j3k
              description: |-
                A UID reference to a CategoryOptionGroupSet  
                (Java name `org.hisp.dhis.category.CategoryOptionGroupSet`)
          created: 
            type: string
            format: date-time
          createdBy: 
            type: object
            required: 
            - id
            properties: 
              id: 
                type: string
                format: uid
                pattern: ^[0-9a-zA-Z]{11}$
                minLength: 11
                maxLength: 11
                example: |-
                  r87xh9Xn8ON
            description: |-
              A UID reference to a User  
              (Java name `org.hisp.dhis.user.User`)
          dataViewMaxOrganisationUnitLevel: 
            type: integer
            format: int32
          dataViewOrganisationUnits: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    xj2sS1ni0Q9
              description: |-
                A UID reference to a OrganisationUnit  
                (Java name `org.hisp.dhis.organisationunit.OrganisationUnit`)
          disabled: 
            type: boolean
          displayName: 
            type: string
          education: 
            type: string
          email: 
            type: string
          employer: 
            type: string
          externalAuth: 
            type: boolean
          facebookMessenger: 
            type: string
          favorite: 
            type: boolean
          favorites: 
            type: array
            items: 
              type: string
          firstName: 
            type: string
          gender: 
            type: string
          href: 
            type: string
          id: 
            type: string
          interests: 
            type: string
          introduction: 
            type: string
          invitation: 
            type: boolean
          jobTitle: 
            type: string
          languages: 
            type: string
          lastCheckedInterpretations: 
            type: string
            format: date-time
          lastLogin: 
            type: string
            format: date-time
          lastUpdated: 
            type: string
            format: date-time
          lastUpdatedBy: 
            type: object
            required: 
            - id
            properties: 
              id: 
                type: string
                format: uid
                pattern: ^[0-9a-zA-Z]{11}$
                minLength: 11
                maxLength: 11
                example: |-
                  r87xh9Xn8ON
            description: |-
              A UID reference to a User  
              (Java name `org.hisp.dhis.user.User`)
          ldapId: 
            type: string
          nationality: 
            type: string
          openId: 
            type: string
          organisationUnits: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    xj2sS1ni0Q9
              description: |-
                A UID reference to a OrganisationUnit  
                (Java name `org.hisp.dhis.organisationunit.OrganisationUnit`)
          password: 
            type: string
          passwordLastUpdated: 
            type: string
            format: date-time
          phoneNumber: 
            type: string
          selfRegistered: 
            type: boolean
          settings: 
            $ref: "#/components/schemas/UserSettings"
          sharing: 
            $ref: "#/components/schemas/Sharing"
          skype: 
            type: string
          surname: 
            type: string
          teiSearchOrganisationUnits: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    xj2sS1ni0Q9
              description: |-
                A UID reference to a OrganisationUnit  
                (Java name `org.hisp.dhis.organisationunit.OrganisationUnit`)
          telegram: 
            type: string
          translations: 
            type: array
            items: 
              $ref: "#/components/schemas/Translation"
          twitter: 
            type: string
          twoFactorEnabled: 
            type: boolean
          user: 
            type: object
            required: 
            - id
            properties: 
              id: 
                type: string
                format: uid
                pattern: ^[0-9a-zA-Z]{11}$
                minLength: 11
                maxLength: 11
                example: |-
                  r87xh9Xn8ON
            description: |-
              A UID reference to a User  
              (Java name `org.hisp.dhis.user.User`)
          userCredentials: 
            $ref: "#/components/schemas/UserCredentialsDto"
          userGroups: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    wd5C82cv3p6
              description: |-
                A UID reference to a UserGroup  
                (Java name `org.hisp.dhis.user.UserGroup`)
          userRoles: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    vc4Bi38eb5R
              description: |-
                A UID reference to a UserRole  
                (Java name `org.hisp.dhis.user.UserRole`)
          username: 
            type: string
          welcomeMessage: 
            type: string
          whatsApp: 
            type: string
      UserAccess: 
        type: object
        properties: 
          access: 
            type: string
          displayName: 
            type: string
          id: 
            type: string
      UserCredentialsDto: 
        type: object
        properties: 
          access: 
            $ref: "#/components/schemas/Access"
          accountExpiry: 
            type: string
            format: date-time
          catDimensionConstraints: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    dU4oD3ey2A6
              description: |-
                A UID reference to a Category  
                (Java name `org.hisp.dhis.category.Category`)
          cogsDimensionConstraints: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    r8EC4cs3j3k
              description: |-
                A UID reference to a CategoryOptionGroupSet  
                (Java name `org.hisp.dhis.category.CategoryOptionGroupSet`)
          disabled: 
            type: boolean
          externalAuth: 
            type: boolean
          id: 
            type: string
          idToken: 
            type: string
          invitation: 
            type: boolean
          lastLogin: 
            type: string
            format: date-time
          ldapId: 
            type: string
          openId: 
            type: string
          password: 
            type: string
          passwordLastUpdated: 
            type: string
            format: date-time
          previousPasswords: 
            type: array
            items: 
              type: string
          restoreExpiry: 
            type: string
            format: date-time
          restoreToken: 
            type: string
          selfRegistered: 
            type: boolean
          sharing: 
            $ref: "#/components/schemas/Sharing"
          twoFA: 
            type: boolean
          uid: 
            type: string
          userRoles: 
            type: array
            items: 
              type: object
              required: 
              - id
              properties: 
                id: 
                  type: string
                  format: uid
                  pattern: ^[0-9a-zA-Z]{11}$
                  minLength: 11
                  maxLength: 11
                  example: |-
                    vc4Bi38eb5R
              description: |-
                A UID reference to a UserRole  
                (Java name `org.hisp.dhis.user.UserRole`)
          username: 
            type: string
          uuid: 
            type: string
      UserGroupAccess: 
        type: object
        properties: 
          access: 
            type: string
          displayName: 
            type: string
          id: 
            type: string
      UserSettings: 
        type: object
        required: 
        - analysisDisplayProperty
        properties: 
          analysisDisplayProperty: 
            type: string
            enum: 
            - NAME
            - SHORTNAME
          dbLocale: 
            type: string
          messageEmailNotification: 
            type: boolean
          messageSmsNotification: 
            type: boolean
          style: 
            type: string
          trackerDashboardLayout: 
            type: string
          uiLocale: 
            type: string
      WebMessage: 
        type: object
        required: 
        - errorCode
        - status
        properties: 
          code: 
            type: integer
            format: int32
          devMessage: 
            type: string
          errorCode: 
            type: string
            enum: 
            - E1000
            - E1001
            - E1002
            - E1003
            - E1004
            - E1005
            - E1006
            - E1100
            - E1101
            - E1102
            - E1103
            - E1104
            - E1105
            - E1106
            - E1107
            - E1108
            - E1109
            - E1110
            - E1111
            - E1112
            - E1113
            - E1114
            - E1115
            - E1116
            - E1117
            - E1118
            - E1119
            - E1120
            - E1500
            - E1501
            - E1502
            - E1503
            - E1504
            - E1510
            - E1511
            - E1512
            - E1513
            - E1514
            - E1515
            - E1516
            - E1520
            - E1521
            - E1522
            - E1523
            - E1530
            - E1531
            - E1532
            - E1533
            - E1540
            - E1541
            - E1542
            - E1543
            - E2000
            - E2001
            - E2002
            - E2003
            - E2004
            - E2005
            - E2006
            - E2007
            - E2008
            - E2009
            - E2010
            - E2011
            - E2012
            - E2013
            - E2014
            - E2015
            - E2016
            - E2017
            - E2018
            - E2019
            - E2020
            - E2021
            - E2022
            - E2023
            - E2024
            - E2025
            - E2026
            - E2027
            - E2028
            - E2029
            - E2030
            - E2031
            - E2032
            - E2033
            - E2034
            - E2035
            - E2036
            - E2037
[...]
